<h2>My Heroes (Classes)</h2>

<div>
  <label>Name:
    <input #heroName/>
  </label>
  <label>Hero Name:
    <input #heroHeroName/>
  </label>
  <label>Image URL:
    <input #heroImage/>
  </label>
  <button (click)="add(heroName.value, heroHeroName.value, heroImage.value); heroName.value = heroHeroName.value = heroImage.value = ''">Save</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.heroName}} ({{hero.name}})
    </a>
    <button class="delete" title="Delete Hero" (click)="delete(hero)">x</button>
  </li>
</ul>
